.header{
    display: flex;
    justify-content: space-around;
    align-items: baseline;


}
.logo-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.image-container{
    display: block;
    position: relative;
    margin: 6rem auto;
    width: 96%;
    background-color: rgb(53, 51, 51);
    height: 40vh;
    border-radius: 8px;
    box-shadow: 0px 16px 12px rgba(0, 0, 0, 0.1), 0 6px 4px rgba(0, 0, 0, 0.1);
}

.image-b{
    height: 40vh;
    width: 100%;
    opacity: 0.3;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.welcome-text{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.ui-panel-inner ul  {
display: flex; 
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0;

list-style: none;    


}
.ui-panel-inner ul li{
    margin-bottom: 10px;
    width: 100%;
    padding: 8px 4px;
    margin-bottom: 1rem;
    border-bottom: 1px solid #333;
    transition: ease 3ms ;

}
.ui-panel-inner ul li:hover{
    background-color: #33333311;


}

.ui-panel-inner ul li a {
display: flex;
color: black !important;
flex-direction: row;
text-decoration: none;
justify-content: space-between;

}


        
.welcome-text h1{
    color: rgb(255, 255, 255);
}

.welcome-text h2{
    color: rgb(201, 112, 11);
}

.about-container{
          
    position: relative;
    margin: 1rem auto;
    width: 96%;
    background-color: rgb(248, 223, 223);
    height: 50vh;
    border-radius: 8%;
    box-shadow: 0px 16px 12px rgba(0, 0, 0, 0.1), 0 6px 4px rgba(0, 0, 0, 0.1);
}

.image-c{
    height: 50vh;
    width: 100%;
    opacity: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 8%;
}

.about-text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: full;
    text-align: center;
    transform: translate(-50%, -50%);
   
}
.about-text h1{
 
    background: rgba(218, 172, 172, 0.274);
    color: rgb(46, 46, 46);
    border-radius: 8px;
}
.about-text p{
    width: 100%;
    color: white;
    font-family: sans-serif;
    line-height: 1.5rem;
    word-spacing: 2px;
    letter-spacing: 1px;
    background: rgba(31, 30, 30, 0.295);
    padding: 8px 12px 2px 12px;
}

