.header{
    display: flex;
    justify-content: space-around;
    align-items: baseline;


}
.logo-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.image-container{
    display: block;
    position: relative;
    margin: 6rem auto;
    width: 96%;
    background-color: rgba(17, 16, 16, 0.705);
    height: 40vh;
    border-radius: 8px;
    box-shadow: 0px 16px 12px rgba(0, 0, 0, 0.1), 0 6px 4px rgba(0, 0, 0, 0.1);
}

.image-b{
    height: 40vh;
    width: 100%;
    opacity: 0.1;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.welcome-text{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.ui-panel-inner ul  {
display: flex; 
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0;

list-style: none;    


}
.ui-panel-inner ul li{
    margin-bottom: 10px;
    width: 100%;
    padding: 8px 4px;
    margin-bottom: 1rem;
    border-bottom: 1px solid #333;
    transition: ease 3ms ;

}
.ui-panel-inner ul li:hover{
    background-color: #33333311;


}

.ui-panel-inner ul li a {
display: flex;
color: black !important;
flex-direction: row;
text-decoration: none;
justify-content: space-between;

}


        
.welcome-text h1{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.welcome-text h2{
    color: rgb(241, 135, 14);
    font-size: 2rem;
    font-weight: 500;
    transition:  ease-in 3ms;
}
.about-container{
          
    position: relative;
    margin: 1rem auto;
    width: 96%;
    background-color: rgb(248, 223, 223);
    height: 50vh;
    border-radius: 8%;
    box-shadow: 0px 16px 12px rgba(0, 0, 0, 0.1), 0 6px 4px rgba(0, 0, 0, 0.1);
}

.image-c{
    height: 50vh;
    width: 100%;
    opacity: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 8%;
}

.about-text{
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    width: 80%;
   
    transform: translate(-50%, -50%);
   
}
.about-text h1{
 
    background: rgba(218, 172, 172, 0.274);
    color: rgb(46, 46, 46);
    border-radius: 8px;
    font-weight: 300 ;
    font-size:2.3rem ;
}
.about-text p{
    width: 100%;
    color: rgb(248, 246, 246);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8rem;
    word-spacing: 2px;
    letter-spacing: 1px;

    font-weight: 300 !important;
    background: rgba(31, 30, 30, 0.295);
    padding: 8px 12px 2px 12px;
}
.student-identity{
    border: #3333333a solid 1px;
    padding: 10px 1rem;
    border-radius: 8px;
    margin-top: 1rem;
    background-color: rgba(240, 255, 255, 0.541);
   

}
.grade-form{
    display: flex;
 
    flex-direction: row;
    justify-content: space-around;
    row-gap: 13px;
    padding: 10px 1rem;
    
}
.grade-form > div{
    flex-basis: auto;
   margin-right: 10px;

}
.form-two{
    background-color: rgba(240, 255, 255, 0.541);
    border: #3333333a solid 1px;
    padding: 10px 1rem;
    position: relative;
}
.close-btn {
    position: absolute;
    top: 0;
    right: 12px;

  }
  .close-btn:hover{
    color: red;
    cursor: pointer;
  }
  
  




